@model IEnumerable<BarDoKBecao.Web.Models.Mesa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Nova">Cadastrar Nova Mesa</a>
</p>


<partial name="_lista" model="Model"></partial>

